/* Projects.css */

section {
    padding: 20px;
  }
  
  .projects-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: #F7F7F7;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding-bottom: 1rem;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tile {
    width: 45%; /* Adjust the width as needed */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-section {
    width: 100%;
    text-align: center;
  }
  
  .image-section img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
  }
  
  .text-section {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .bio {
    font-size: 1.5rem;
    color: #555;
  }

  .git-link-passgen {
    width: 10%;
    height: auto;
    float: right;
  }

  .git-link-facerec {
    width: 10%;
    height: auto;
    float: left;
  }
  