.projects-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: #F7F7F7;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding-bottom: 1rem;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.image-section img {
    max-width: 45%; 
    height: auto; 
    align-self: center;
    justify-content: center;
    
}

.text-section {
    margin-left: 14rem;
}



.title {
    font-size: 2rem;
    padding-left: 20rem;
    padding-bottom: 2rem;
    margin: 0;
    white-space: nowrap;
}

.facerec img {
    margin-right: 15rem;
}

.passgen-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 21.2rem;
}
        
    
