.about {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-title {
    text-align: center;
    font-size: 40px;
    padding-top: 15vh;
}

.about-content {
    flex: 1
    
}

.about-image {
    padding-right: 2vw;
    min-width: 27rem;
    min-height: auto;
    width: 27rem;
    height: auto;
}

.life-story {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 10%
}

@media (max-width: 900px), (min-height: 1080px) {
    @media (max-width: 900px) {
        .about-image {
            min-width: 27rem;
            min-height: auto;
        }

        .life-story {
            font-size: 0.8rem;
        }

        .about {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}