.about {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    text-align: center;
    font-size: 40px;
    padding-top: 4vh;
}

.about-content {
    flex: 1
}

.about-image {
    padding-right: 2vw;
    width: 280rem;
    height: auto;
}

.life-story {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 10%
}

@media (max-width: 900px), (min-height: 1080px) {
    .about-image {
        width: 22rem; 
    }

    .life-story {
        font-size: 1rem;
    }

    .about {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .about-image {
        width: 17rem;
    }
}
